@charset "UTF-8";
@import "http://webfonts.ru/import/agilis.css";

.logo{
    font-family: 'Agilis';
    text-align: center;
    color: rgb(139,195,74);
    font-weight: bold;
}

.card-login{
    text-align: center;
    left: 50%;
    margin-left: -165px;

    position: relative;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.login-button{
    width: 100%;
}

.error{
    text-align: center;
}

.mdl-button--fab{
    float: right;
    bottom: 10px;
    right: 10px;
}